.column1 {
    float: left;
    width: 50%;
    background-color: lightblue;
  }

.column2 {
    float: left;
    width: 50%;
    background-color: yellowgreen;
  }  

.column3 {
    float: left;
    width: 50%;
    background-color: gray;
  }  

.column4 {
    float: both;
    width: 30%;
    background-color: lightcoral;
  }  

  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.div1 {
  margin: 10px;
  width: 220px;
  height: 100px;
  border: 1px solid blue; 
  background-color: lightgrey;
  float: left;
}
