body {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
}
.box--small{
  background-color: lightseagreen; 
  width: 60px;
  height: 60px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.stopwatchbutton {
  border: '1px solid #ccc';
  background: '#fff'; 
  font-size: '2em';
  color: black;
  padding: 15;
  margin: 5;
  width: 200;
}